:root {
    --text-color: rgb(34, 34, 34);
    --secondary-color:#B0F560;
    --primary-font: outfit;
}

body {
    font-family: var(--primary-font);
    color: var(--text-color);
    background-color: #F5F5F5;
}

h1 {
    font-size: 50px;
    line-height: 45px;
    text-align: center;
}

a {
    text-decoration: none;
}

form{
    padding-top: 25px;
    margin-bottom: 20px;
    display: flex;
    justify-content: left;
}

small{
    margin-left: 10px;
    font-style: italic;
    color: rgb(0, 0, 0, 0.5);
}

footer{
    font-size: 13px;
    text-align: center;
    margin-top: 30px;
}

.container {
    background-color: var(--secondary-color);
    padding: 3% 5%;
    margin: 2% 20%;
    border-radius: 20px;
    vertical-align: middle;
}

.instructions{
    padding: 16px 30px;
    border-radius: 50px 0px 0px 50px;
    border: none;
    width: 80%;
    font-family: var(--primary-font);
    font-size: 18px;
}

 .generate-button {
    padding: 16px 20px;
    background-color: var(--text-color);
    border: 2px solid var(--text-color);
    font-family: var(--primary-font);
    border-radius: 0px 30px 30px 0px;
    font-size: 18px;
    color: white;
    transition: all 100ms ease-in-out;
    text-align: center;
}

.generate-button:hover {
    background-color: rgb(53, 53, 53);
    border: 2px solid rgb(53, 53, 53);
    color: var(--secondary-color);
    transition: all 100ms ease-in-out;
    cursor: pointer;
}

.answer{
    padding: 5%;
    background: #d9ffad;
    border-radius: 4px;
    margin: 50px 0px 30px 0px;
    line-height: 23px;
    border-left: 6px solid;
    text-align: left;
}

.hidden{
    display: none;
}

.generating{
    animation: blink-animation 0.8s steps(5, start) 0s infinite;
}
@keyframes blink-animation {
    to{
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
            visibility: hidden;
        }
}

