/* :root {
    --text-color: rgb(34, 34, 34);
}

body {
    font-family: outfit;
    color: var(--text-color);
    background-color: #F5F5F5;
}

.header {
    background-color: #B0F560;
    padding: 3% 5%;
    margin: 2% 20%;
    border-radius: 20px;
    vertical-align: middle;
}



.column {
    display: flex;
    justify-content: space-around;
    gap: 5%;
}


h1 {
    font-size: 40px;
    line-height: 55px;
}

h2 {
    padding-top: 2%;
    font-size: 17px;
    font-weight: 300;
    line-height: 30px;
}

img {
    margin-top: 10%;
}

p {
    display: block;
    margin: 0 auto;
    text-align: center;
    max-width: 80%;
}

.block {
    display: flex;
    justify-content: space-around;
    gap: 5%;
}

.text {
    text-align: justify;
    line-height: 22px;
    padding-top: 2%;
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
}

.buttons {
    text-align: center;
    margin-top: 8%;

}

.buttons-go-back {
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 8%;
}

#arrow {
    vertical-align: middle;
    padding-right: 10px;
}

button {
    margin: 5px 20px;
    padding: 10px 25px;
    background-color: var(--text-color);
    border: 2px solid var(--text-color);
    font-family: outfit;
    border-radius: 30px;
    font-size: 18px;
    color: white;
    transition: all 200ms ease-in-out;
    text-align: center;
}

button:hover {
    background-color: #B0F560;
    color: var(--text-color);
    transition: all 100ms ease-in-out;
    cursor: pointer;
}

a {
    text-decoration: none;
}

.empty-space {
    margin-top: 30%;
}

.contact-container {
    background-color: #E9E9E9;
    padding: 1% 2% 3% 2%;
    margin: 10% 38% 10% 38%;
    border-radius: 20px;
    vertical-align: middle;
}

#contact-link {
    line-height: 25px;
    color: var(--text-color);
}

#contact-link:hover {
    background-color: #B0F560;
}

.contact-container div {

    text-align: center;
}

#contact {
    text-align: center;
} */